.AddArtwork h3 {
    padding-bottom: 2rem;
}

.AddArtwork .saveBtn {
    margin-top: 1rem;
}

.AddArtwork .addBtn {
    float: left;
    margin-right: 5px;
}

.AddArtwork .removeBtn {
    float: none;
}

.titleInputBtns {
    margin-bottom: 2rem;
}